<a href="/">Home</a>
<a href="/about">About</a>
<a href="/blog">Blog</a>

<h1>This is my blog page</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, ad tempore. Voluptatem delectus dolores porro provident. Quos cupiditate at asperiores minus eveniet! Commodi accusantium, nam praesentium blanditiis a accusamus provident?</p>